<div class="container" class="faq_qs">
  <div class="row">
    <div class="span8 offset2">
      <h1>FAQ</h1>
      <ul class="unstyled">
        <% render :partial => 'campaigns/shared/questions' %>
      </ul>
    </div><!-- end of .span8 -->
  </div><!-- end of .row -->
</div>