<div class="container">
  <br/>
  <div class="footer centered">
    <div class="wrapper clearfix">
      <!-- <ul>
        <li>
          <a href="/faq">Help & FAQs</a>
        </li>
        <li>
          <a href="#">Press & Media</a>
        </li>
        <li>
          <a href="http://blog.lockitron.com/">Blog</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
            <a href="/account/login">Login</a>
        </li>
      </ul> -->
      <p>&copy; 2012 - <a href="twitter.com/PradatiusD">Daniel</a>, <a href="twitter.com/ChefBortz">Chet</a>, <a href="twitter.com/AlainFV">Alain</a>, <a href="twitter.com/igorgue">Igor</a>, <a href="twitter.com/DonSaldarriaga">Juan</a>, <a href="twitter.com/LocalHoster">Josh</a> &amp; <a href="twitter.com/Bunsen">Auston</a>. Miami Startup Weekend!</p>

    </div>
  </div>
</div>