<div class="container">
  
  <div class="page-header">
    <h2><%= @campaign.name %></h2>
  </div>
  
  <div class="row">
    
    <table class="table table-striped">
      <thead>
        <th>
          <td>Name</td>
          <td>Contributed</td>
          <td>Level</td>
        </th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.price %></td>
          <td><%= order.campaign_level_id %></td>
        </tr>
        <% end %>
        
      </tbody>
    </table>
    
  </div>
  

</div>