<div class="well clearfix">
  <p class="pull-left">You can tweak this page by clicking the elements on the page</p>
  <a href="#" class="btn btn-primary pull-right">Save &amp; Continue to Step 3</a>
</div>

<a class="btn btn-primary add_faq">Add FAQ</a>

<div id="web_preview">

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="span12 offset1" id="headline">
        <h1>OpenFund.co</h1>
      </div>
    </div>
  </div> 

  <div id="title">
    <h3>A Tool for Crowd Funding!</h3>
    <img src="/images/pocket-shadow.png" >
  </div>
  
  <div id="mainbox">
    <div class="container">
      <div class="row" id="meatPotatos">
        <div class="span10 offset1">
          <div class="span5" id="video">
            <iframe src="http://player.vimeo.com/video/41261299?title=1&amp;byline=1&amp;portrait=1" width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
          </div>           
          <div class="span5" id="statbox">
            <div class="span1" id="stats1">
              <h3>N/A</h3>
              <p class="muted">Backers</p>
            </div>
            <div class="span2" id="stats2" >
              <h3>$0</h3>
              <p class="muted">Of <span class="edit edit_number">$20,000</span></p>
            </div>
            <div class="span1" id="stats3">
              <h3>N/A</h3>
              <p class="muted">Days left</p>
            </div>  
            <div class="span4">
              <div class="progress">
                <div class="bar bar-success" style="width: 0%;"></div>
                <h3>0%</h3>
              </div>
            </div>
            <div class="span4 edit edit_content" id="blerb">
 <p>blerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
            </div>
          </div>                     
        </div>
      </div>
    </div><!-- /container --> 
    <hr>
  </div><!--/mainbox-->
  <!--Start Sections--> 
  
  <div class="container" class="blurb_pic_left">
    <div class="row">
      <div class="span10 offset1">                
        <div class="span4" id="imageborder">
          <img src="/images/wireless_hero.png"> 
        </div> 
        <div class="span5" id="blerb">
          <h3>Blerb</h3>
              <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
               <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
               
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBler</p>
        </div><!-- end of .span5 -->
      </div><!-- end of .span10 -->
    </div><!-- end of .row -->
    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div> <!-- end of .container -->
  
  <div class="container" class="blurb_pic_right">
    <div class="row">
      <div class="span10 offset1">
        <div class="span5" id="blerb">
          <h3>Blerb</h3> <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p> <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        </div>
        <div class="span4" id="image">
          <img src="/images/obama-toast.jpeg" />
        </div>
      </div><!-- end of .span10 -->
    </div><!-- end of .row -->
    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div><!-- end of .container -->
  
  <div class="container" class="blurb_text">
    <div class="row">
      <div class="span8 offset2">
        <h1>Blerb</h1>
        <p class="lead">lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
      </div><!-- end of .span8 -->
    </div><!-- end of .row -->
    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div><!-- end of .container -->
  
  <div class="container" class="three_pics">
    <div class="row">
      <div class="span10 offset1">
        <div class="span3" id="imageborder">
          <img src="/images/wireless_hero.png">
        </div>
        <div class="span3" id="imageborder">
          <img src="/images/wireless_hero.png">
        </div>
        <div class="span3" id="imageborder">
          <img src="/images/wireless_hero.png">
        </div>
      </div>
    </div><!-- end of .row -->
    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div><!-- end of .container -->
  
  <div class="container" class="levels">
    <div class="row">
      <div class="span10 offset1" >
        <div class="span3" id="levels">
          <h3>Contribute $10</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
        <div class="span3" id="levels">
          <h3>Contribute $20</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
        <div class="span3" id="levels">
          <h3>Contribute $30</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
      </div>

      <div class="span10 offset1" >
        <div class="span3" id="levels">
          <h3>Contribute $40</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
        <div class="span3" id="levels">
          <h3>Contribute $50</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
        <div class="span3" id="levels">
          <h3>Contribute $60</h3>
          <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
          <button class="btn btn-large btn-success" type="button">Fund!</button>
        </div>
      </div>
    </div><!-- end of .row -->
    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div><!-- end of .container -->
  
  <div class="container" class="faq_qs">
    <div class="row">
      <div class="span8 offset2">
        <h1>FAQ</h1>
        <ul class="unstyled">
          <li><h4 class="muted lead ">what</h4></li>
          <li><p class="text-success">ANWSER</p></li>
          <li><h4 class="muted lead">where</h4></li>
          <li><p class="text-success">ANWSER</p></li>
          <li><h4 class="muted lead ">why</h4></li>
          <li><p class="text-success">ANWSER</p></li>
          <li><h4 class="muted lead ">WHooooWhat!</h4></li>
          <li><li><p class="text-success">ANWSER</p></li>
        </ul>
      </div><!-- end of .span8 -->
    </div><!-- end of .row -->

    <div class="span10 offset1" id="moveborder"><img src="/images/pocket-shadow.png" ></div>
  </div><!-- end of .container -->

  <!--/Sections-->
  
  <div class="container"><!--Start Footer-->
    <div class="row">
      <div class="span10  offset1">
        <footer>
          <p><i class="icon-globe"></i>Powered By: OpenFund.co </p>
        </footer>    
      </div>
    </div>
  </div> <!--END Footer-->
  
</div> <!-- end preview container -->

<div id="edit_blurb" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit Blurb</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" id="id" value="<%= @campaign.id %>" />
    <textarea name="blurb" id="blurb" rows="8" class="blurb_box input-xlarge"></textarea>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn btn-primary save" type="submit">Save</button>
  </div>
</div>

<div id="add_faq" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New FAQ</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" id="id" value="<%= @campaign.id %>" />
    <textarea name="faq" id="faq" rows="8" class="faq_box input-xlarge"></textarea>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn btn-primary save" type="submit">Save</button>
  </div>
</div>

<div id="add_level" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Level</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" id="id" value="<%= @campaign.id %>" />
    <textarea name="level" id="level" rows="8" class="level_box input-xlarge"></textarea>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn btn-primary save" type="submit">Save</button>
  </div>
</div>

<div id="add_section" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Section</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" id="id" value="<%= @campaign.id %>" />
    <textarea name="section" id="section" rows="8" class="section_box input-xlarge"></textarea>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn btn-primary save" type="submit">Save</button>
  </div>
</div>