<div class="container">
  
  <div class="row">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#settings" data-toggle="tab">1. Campaign Settings<br/> 
            <small>Get started with the essentials</small>
          </a>
        </li>
        <li>
          <a href="#preview" data-toggle="tab">2. Preview Page<br/> 
            <small>Tweak your page easily</small>
          </a>
        </li>
        <li>
          <a href="#finalize" data-toggle="tab">3. Finalize<br/> 
            <small>Get ready to launch</small>
          </a>
        </li>
        
      </ul>
      <div class="tab-content">
        
        <div class="tab-pane active" id="settings">
          <%= render :partial => 'campaigns/forms/settings' %>
        </div>
        <div class="tab-pane" id="preview">
          
          <%= render :partial => 'campaigns/edit_preview' %>
          
        </div> <!-- end of tab -->
        
        <div class="tab-pane" id="finalize">

          <div class="well clearfix">
            
            <div class="span4 pull-left">
              <span class="preview_label">Preview for</span>
              <div class="btn-group preview_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-target="web">Web</button>
                <button type="button" class="btn btn-info" data-target="tablet">Tablet</button>
                <button type="button" class="btn btn-info" data-target="mobile">Mobile</button>
              </div>
            </div>
            
            <!--div class="span3 pull-left">
              <div class="btn-group orientation_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-orientation="portrait">Portrait</button>
                <button type="button" class="btn btn-info" data-orientation="landscape">Landscape</button>
              </div>
            </div-->
            
            <a href="#" class="btn btn-success pull-right"><i class="icon-globe icon-white"></i> Launch Campaign</a>
          </div>
          
          <div class="view web_view active">
            <div class="canvas">
              
              <iframe src="#campaign-web.html" width="1024" height="700">
                
              </iframe>
              
            </div>
          </div>

          <div class="view tablet_view">
            <div class="canvas">
              
              <iframe src="#campaign.html" width="420" height="551">
                
              </iframe>
              
            </div>
          </div>
          
          <div class="view mobile_view">
            <div class="canvas">
              
              
              
            </div>
          </div>
          
        </div><!-- end of tab -->
        
      </div>
    </div>
    
    
  </div>
  

</div>

<% if !current_user.stripe_access_token? %>

<div class="modal" id="stripe_request">
  <div class="modal-body centered">
    <strong>Welcome, looks like we need you to connect your &nbsp;<span class="stripelogo">Stripe</span>&nbsp; account!</strong>
    <br/>
    <br/>
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= @stripe_client_id %>&scope=read_write&state=1234" class="stripe_connect">Stripe Connect</a>
    <br/>
  </div>
</div>

<% end %>