<script>
  var need_stripe_credentials = false;
</script>

<div class="container">
  
  <div class="row">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#settings" data-toggle="tab">1. Campaign Settings<br/> 
            <small>Get started with the essentials</small>
          </a>
        </li>
        <li>
          <a href="#preview" data-toggle="tab">2. Preview Page<br/> 
            <small>Tweak your page easily</small>
          </a>
        </li>
        <li>
          <a href="#finalize" data-toggle="tab">3. Finalize<br/> 
            <small>Get ready to launch</small>
          </a>
        </li>
        
      </ul>
      <div class="tab-content">
        
        <div class="tab-pane active" id="settings">
          <%= render :partial => 'campaigns/forms/settings' %>
        </div>
        <div class="tab-pane" id="preview">
          
          <div class="well clearfix">
            <p class="pull-left">You can tweak this page by clicking the elements on the page</p>
            <a href="#" class="btn btn-primary pull-right">Save &amp; Continue to Step 3</a>
          </div>
          
          <div id="web_preview">

            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="span12 offset1" id="headline">
                  <h1>OpenFund.co</h1>
                </div>
              </div>
            </div> 

            <div id="title">
              <h3>A Tool for Crowd Funding!</h3>
              <img src="/images/pocket-shadow.png" >
            </div>
            
            <div id="mainbox">
              <div class="container">
                <div class="row" id="meatPotatos">
                  <div class="span10 offset1">
                    <div class="span5" id="video">
                      <iframe src="http://player.vimeo.com/video/41261299?title=1&amp;byline=1&amp;portrait=1" width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                    </div>           
                    <div class="span5" id="statbox">
                      <div class="span1" id="stats1">
                        <h3>N/A</h3>
                        <p class="muted">Backers</p>
                      </div>
                      <div class="span2" id="stats2" >
                        <h3>$0</h3>
                        <p class="muted">Of $20,000</p>
                      </div>
                      <div class="span1" id="stats3">
                        <h3>N/A</h3>
                        <p class="muted">Days left</p>
                      </div>  
                      <div class="span4">
                        <div class="progress">
                          <div class="bar bar-success" style="width: 0%;"></div>
                          <h3>0%</h3>
                        </div>
                      </div>
                      <div class="span4" id="blerb">
                        <h3>Blerb</h3>
                        <p>blerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
                      </div>
                    </div>                     
                  </div>
                </div>
              </div><!-- /container --> 
              <hr>
            </div><!--/mainbox-->
            <!--Start Sections--> 


            <!--/Sections-->
            
            <div class="container"><!--Start Footer-->
              <div class="row">
                <div class="span10  offset1">
                  <footer>
                    <p><i class="icon-globe"></i>Powered By: OpenFund.co </p>
                  </footer>    
                </div>
              </div>
            </div> <!--END Footer-->
            
          </div> <!-- end preview container -->
          
        </div> <!-- end of tab -->
        
        <div class="tab-pane" id="finalize">

          <div class="well clearfix">
            
            <div class="span4 pull-left">
              <span class="preview_label">Preview for</span>
              <div class="btn-group preview_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-target="web">Web</button>
                <button type="button" class="btn btn-info" data-target="tablet">Tablet</button>
                <button type="button" class="btn btn-info" data-target="mobile">Mobile</button>
              </div>
            </div>
            
            <!--div class="span3 pull-left">
              <div class="btn-group orientation_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-orientation="portrait">Portrait</button>
                <button type="button" class="btn btn-info" data-orientation="landscape">Landscape</button>
              </div>
            </div-->
            
            <a href="#" class="btn btn-success pull-right"><i class="icon-globe icon-white"></i> Launch Campaign</a>
          </div>
          
          <div class="view web_view active">
            <div class="canvas">
              
              <iframe src="#campaign-web.html" width="1024" height="700">
                
              </iframe>
              
            </div>
          </div>

          <div class="view tablet_view">
            <div class="canvas">
              
              <iframe src="#campaign.html" width="420" height="551">
                
              </iframe>
              
            </div>
          </div>
          
          <div class="view mobile_view">
            <div class="canvas">
              
              
              
            </div>
          </div>
          
        </div><!-- end of tab -->
        
      </div>
    </div>
    
    
  </div>
  

</div>




<div class="modal hide" id="stripe_request">
  <div class="modal-header">
    <h3 id="myModalLabel">The first step...</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="stripe_connect">Stripe Connect</a>
  </div>
</div>