// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**** DATEPICKER ****/
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}
.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.datepicker .nav:after {
  clear: both;
}
.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}
.datepicker .months {
  float: left;
  margin-left: 4px;
}
.datepicker .months .name {
  width: 72px;
  padding: 0;
}
.datepicker .years {
  float: right;
  margin-right: 4px;
}
.datepicker .years .name {
  width: 36px;
  padding: 0;
}
.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}
.datepicker .dow {
  font-weight: bold;
  color: #808080;
}
.datepicker .calendar {
  padding: 4px;
}
.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}
.datepicker .overlap {
  color: #bfbfbf;
}
.datepicker .today {
  background-color: #fee9cc;
}
.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}

.bootstrap-timepicker.dropdown-menu {
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
    min-width: 10px;
}
.bootstrap-timepicker.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
    padding: 0;
}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker table td {
    height: 30px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.bootstrap-timepicker table td span {
    width: 100%;
}
.bootstrap-timepicker table td a {
    border: 1px solid transparent;
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 8px 0;
    width: 3em;
}
.bootstrap-timepicker table td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}
.bootstrap-timepicker table td a i {
    margin-top: 2px;
}
.bootstrap-timepicker table td input {
    margin: 0;
    text-align: center;
    width: 25px;
}
.bootstrap-timepicker-component .add-on {
    cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
    display: block;
    height: 16px;
    width: 16px;
}



/**** RANDOM CUSTOM ***/
span.preview_label {
  float: left;
  height: 26px;
  line-height: 26px;
  margin-right: 15px;
}

div.view {
  display: none;
  margin: 0 auto;
}
div.view.active {
  display: block;
}

div.web_view .canvas {
  width: 960px;
  overflow: hidden;
}
div.web_view .canvas iframe {
  margin: 0 auto;
}

div.tablet_view {
  width: 530px; height: 688px;
  background: url(../img/ipad.png) no-repeat top left;
  position: relative;
  /*-webkit-transition: -webkit-transform 1s linear, margin-top 1s linear;*/
}
div.tablet_view.landscape {
  /*margin-top: -50px;*/
  background-position: top right;
  /*-webkit-transform: rotate(-90deg);*/
}
div.tablet_view .canvas {
  width: 420px;
  height: 551px;
  position: absolute;
  top: 74px;
  left: 56px;
  /*-webkit-transform: scale(.3);*/
}
div.tablet_view .canvas iframe {
  /*-webkit-transform: scale(.3);*/
}
div.mobile_view {
  width: 338px; height: 688px;
  background: url(../img/iphone.png) no-repeat top center;
  position: relative;
  margin: 0 auto;
}
div.mobile_view .canvas {
  width: 273px;
  height: 470px;
  position: absolute;
  top: 119px;
  left: 33px;
}
a.stripe_connect {
  width: 190px; height: 33px;
  background: url(../img/stripe_connect.png) no-repeat;
  display: block;
  text-align: left;
  text-indent: -9999px;
  float: right;
}
iframe { border: 0}

.edit { cursor: pointer; }


/** WEB PREVIEW **/

#web_preview {background-image: url('img/straws.png');background-repeat: repeat; margin:0; overflow: hidden;}
#web_preview #mainbox{background-color: rgba(0, 0, 0, 0.1);}
#web_preview #meatpotatos {background-color:black; }
#web_preview .navbar-inner{color:white;background-color: rgba(57, 255, 255, 0.3);font-family: 'Signika Negative', sans-serif;}
#web_preview #statbox{margin-left: 0px}
#web_preview #headline {text-align: center;}
#web_preview .row{word-wrap:break-word;}
#web_preview #video iframe{padding-top:5px;-moz-box-shadow:0 2px 6px rgba(0,0,0,0.39);-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.39);box-shadow:0 2px 6px rgba(0,0,0,0.39)}
#web_preview .progress{height: 35px;}
#web_preview .progress h3 {margin-top: 0px;}
#web_preview #title{text-align: center;font-family: 'Signika Negative', sans-serif;}
#web_preview #title h3{font-size: 23px; line-height: 100%;margin-bottom: -13px;}
#web_preview #blerb {word-wrap:break-word;overflow: hidden;}
#web_preview #image {width:370px;-moz-box-shadow:0 2px 6px rgba(0,0,0,0.39);-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.39);box-shadow:0 2px 6px rgba(0,0,0,0.39)}
#web_preview #imageborder img{bottom:0;width:370px; bottom:-32px;}
#web_preview #imageborder{overflow: hidden;}
#web_preview #border img{}
#web_preview #levels{word-wrap:break-word;}




